/* =============== GLOBAL =============== */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /*========== Colors ==========*/
  --primary: #06a3da;
  --secondary: #34ad54;
  --light: #eef9ff;
  --dark: #091e3e;
}

/* =============== BASIC =============== */
html,
body {
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.56;
  font-family: "Rubik", sans-serif;
}

.px-5 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

h1,
h2,
.fw-bold {
  font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
  font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
  font-weight: 600 !important;
}

.committee-item li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.link-animated a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.link-animated a:hover {
  padding-left: 10px;
}

/*** Button ***/
.btn {
  font-weight: 600;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn-primary,
.btn-secondary {
  color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 50px transparent;
  box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
  -webkit-box-shadow: inset 0 0 0 0 var(--primary);
  box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
  -webkit-box-shadow: inset 0 0 0 0 var(--secondary);
  box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: 2px;
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -75px;
}

.section-title.section-title-sm::before {
  width: 90px;
  height: 3px;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 5px;
  bottom: 0px;
  background: #ffffff;
  -webkit-animation: section-title-run 5s infinite linear;
  animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
  width: 4px;
  height: 3px;
}

.section-title.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}

.top-bar {
  text-decoration: none;
  font-size: 16px;
  color: var(--light);
}

.top-bar:hover {
  color: var(--primary);
}

/* Standard keyframes */
@keyframes section-title-run {
  0% {
    left: 0;
  }
  50% {
    left: 145px;
  }
  100% {
    left: 0;
  }
}

@keyframes section-title-run-center {
  0% {
    left: 50%;
    margin-left: -75px;
  }
  50% {
    left: 50%;
    margin-left: 45px;
  }
  100% {
    left: 50%;
    margin-left: -75px;
  }
}

@keyframes section-title-run-sm {
  0% {
    left: 0;
  }
  50% {
    left: 85px;
  }
  100% {
    left: 0;
  }
}

/* WebKit-prefixed keyframes */
@-webkit-keyframes section-title-run {
  0% {
    left: 0;
  }
  50% {
    left: 145px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes section-title-run-center {
  0% {
    left: 50%;
    margin-left: -75px;
  }
  50% {
    left: 50%;
    margin-left: 45px;
  }
  100% {
    left: 50%;
    margin-left: -75px;
  }
}

@-webkit-keyframes section-title-run-sm {
  0% {
    left: 0;
  }
  50% {
    left: 85px;
  }
  100% {
    left: 0;
  }
}

.element {
  animation: section-title-run 2s infinite;
  /* For WebKit browsers */
  -webkit-animation: section-title-run 2s infinite;
}

.element-center {
  animation: section-title-run-center 2s infinite;
  /* For WebKit browsers */
  -webkit-animation: section-title-run-center 2s infinite;
}

.element-sm {
  animation: section-title-run-sm 2s infinite;
  /* For WebKit browsers */
  -webkit-animation: section-title-run-sm 2s infinite;
}

/* =============== SCROLL BAR =============== */
/* For WebKit Browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 3px solid var(--light);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--light);
}

/* General Styles (applied to all browsers) */
body {
  scrollbar-color: var(--primary) var(--light);
  scrollbar-width: thin;
}

/* =============== PRELOADER =============== */
.spinner {
  width: 40px;
  height: 40px;
  background: var(--primary);
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#spinner {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  -o-transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  -webkit-transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*=============== HEADAR ===============*/
.header {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 10px 15px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.header-container {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.header-container .main-logo {
  max-width: 100%;
  height: auto;
  width: 150px; 
}

.header.hide {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(256, 256, 256, 0.1);
}

.header.scrolled .nav {
  border-bottom: none;
}

.header.scrolled {
  top: 0;
  background-color: #091e3e;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logo.header-title {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  padding: 0 2px;
  color: black;
}

.logo img {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.nav-icons .bx-search-alt-2 {
  font-size: 30px;
  place-items: center;
  color: #000;
  padding: 12px;
  background: #06a3da;
  border-radius: 50%;
  cursor: pointer;
}

.nav-icons .menuBtn {
  font-size: 24px;
  place-items: center;
  color: #ffffff;
  padding: 2px;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .nav {
    padding: 10px 0;
  }
}

@media (max-width: 560px) {
  .nav {
    padding: 8px 0;
  }
}

@media (max-width: 360px) {
  .logo {
    font-size: 1.2rem;
  }

  .navbar a {
    font-size: 1.3rem;
  }

  .navbar a:hover {
    font-size: 1.4rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}

.nav-menu li ~ li {
  margin-left: 30px;
}

.nav-menu a {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

.nav-menu a:hover {
  color: #06a3da;
}

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
  color: unset;
}

/* Ensure the top section hides on small screens */
@media (max-width: 991px) {
  .top_bar {
    display: none;
  }
}

.navbar-nav a {
  color: #fff;
}

.icon2 {
  display: none;
}

@media (max-width: 1192px) {
  .navbar-nav a {
    display: none;
  }

  .icon2 {
    display: block;
  }
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
  gap: 15px; 
}

.nav-item {
  font-size: 16px;
  font-weight: 500;
}

/* Responsive Adjustments */
@media (min-width: 1200px) {
  .header-container .main-logo {
    width: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-container .main-logo {
    width: 300px; 
  }
}

@media (max-width: 767px) {
  .header-container .main-logo {
    width: 200px;
  }

  .icon2 .menuBtn {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    display: none; 
  }

  .nav-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*=============== menu ===============*/
.menu {
  position: fixed;
  top: 0;
  left: -230px;
  width: 230px;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: white;
  -webkit-box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 200;
}

.nav-link.active {
  color: #06a3da;
  font-weight: bold;
}

.menu.open {
  left: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.overlay.open {
  display: block;
}

.menu.open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  z-index: 101;
}

.nav-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none;
  color: #000;
}

.nav-container::-webkit-scrollbar {
  display: none;
}

.nav-menu {
  font-weight: 100;
  margin-bottom: 2.5rem;
}

.nav-list,
.nav-items {
  display: -ms-grid;
  display: grid;
}

.nav-list {
  row-gap: 2.5rem;
}

.nav-items {
  row-gap: 1.5rem;
}

.nav-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

.nav-link:hover {
  color: #06a3da;
}

.nav-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.nav-name {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.nav-logout {
  margin-top: 5rem;
}

/* Dropdown */
.nav-dropdown {
  overflow: hidden;
  max-height: 21px;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.nav-dropdown-collapse {
  background-color: white;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.nav-dropdown-content {
  display: -ms-grid;
  display: grid;
  row-gap: 0.5rem;
  padding: 0.75rem 2.5rem 0.75rem 1.8rem;
}

.nav-dropdown-item {
  font-size: 16;
  font-weight: 400;
  color: #000;
}

.nav-dropdown-item:hover {
  color: #000;
}

.nav-dropdown-icon {
  margin-left: auto;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/* Show dropdown collapse */
.nav-dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav-dropdown:hover .nav-dropdown-icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
          box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 200;
}

.menu.open {
  left: 0;
}

#menu .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 1rem;
  width: 100%;
  color: #000;
  border-radius: 10px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

#menu .nav-link:hover,
#menu .nav-link.active {
  background-color: #f0f0f0;
  color: #06a3da;
}

.nav-icon {
  font-size: 1.3rem;
  margin-right: 1rem; 
}

.nav-name {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.nav-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.menuBtn {
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.menuBtn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/*=============== BANNER ===============*/
.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  z-index: 2;
}

.carousel-caption h4,
.carousel-caption h1,
.carousel-caption h2,
.carousel-caption a {
  color: white;
}

.slider-banner {
  background: white;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  position: relative;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 85vh; 
}

.carousel-caption {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}

/* Optional custom CSS for the carousel to fit your design */
.carousel-inner {
  position: relative;
}

.carousel-item {
  position: relative;
}

/* Overlay effect on carousel items */
.slider-blank::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 30, 62, 0.7);
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}

/*=============== SERVICE ===============*/
.service-item {
  position: relative;
  height: 300px;
  padding: 0 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.service-item .service-icon {
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--primary);
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.service-item .service-icon i {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.service-item a.btn {
  position: absolute;
  width: 60px;
  bottom: -48px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
}

.service-item:hover a.btn {
  bottom: -24px;
  opacity: 1;
}

/* =============== ABOUT =============== */
.about .container-fluid {
  padding: 0 15px;
}

.about .about-text {
  background-color: #eef9ff !important;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about .about-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about .about-image img {
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.about h1 {
  font-size: 2rem;
  font-weight: bold;
}

.about p {
  font-size: 1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about .about-text {
    padding: 10px;
  }

  .about h1 {
    font-size: 1.5rem;
  }

  .about p {
    font-size: 0.9rem;
  }
}

.polaroid {
  background: white;
  padding: 10px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 100%;
  display: inline-block;
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg); 
  -webkit-transition: -webkit-transform 0.3s ease; 
  transition: -webkit-transform 0.3s ease; 
  -o-transition: transform 0.3s ease; 
  transition: transform 0.3s ease; 
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  margin: 10px;
}

.polaroid-left {
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg); 
}

.polaroid:hover,
.polaroid-left:hover {
  -webkit-transform: rotate(0deg) scale(1.05);
      -ms-transform: rotate(0deg) scale(1.05);
          transform: rotate(0deg) scale(1.05); 
}

.polaroid-image {
  width: 100%;
  border-radius: 5px;
}

.caption {
  margin-top: 8px;
  font-size: 0.9em;
  color: #555;
  text-align: center;
  font-style: italic;
}

/* =============== REGISTRACTION =============== */
.registration-section {
  max-width: 1300px;
  margin: auto;
  border-radius: 10px;
  padding: 40px 20px;
}

.section-title {
  max-width: 800px;
  margin-bottom: 30px;
}

.section-title h1 {
  font-weight: 700;
  color: #2b55e0;
  font-size: 2em;
}

.section-title p {
  color: #333;
  line-height: 1.6;
  font-size: 1em;
}

.registration-card {
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  margin-bottom: 20px;
}

.registration-card:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.card-header {
  background-color: var(--primary);
  color: #ffffff;
  padding: 15px;
  text-align: center;
  font-size: 1.1em;
}

.card-content {
  padding: 20px;
  color: #333;
}

.highlight {
  color: var(--primary);
  font-weight: 700;
}

.contact-info a {
  color: #ff0000;
  font-weight: 600;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .registration-section {
    padding: 20px;
  }

  .section-title h1 {
    font-size: 1.8em;
  }

  .section-title p {
    font-size: 0.9em;
  }

  .card-header {
    font-size: 1em;
    padding: 10px;
  }

  .card-content {
    font-size: 0.9em;
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .section-title h1 {
    font-size: 1.5em;
  }

  .section-title p {
    font-size: 0.85em;
  }

  .card-header {
    font-size: 0.95em;
    padding: 8px;
  }

  .card-content {
    font-size: 0.85em;
    padding: 10px;
  }
}

/* =============== CONTACT =============== */
.custom-swiper {
  width: 100%;
  padding: 20px 0;
}

.custom-swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-item {
  background-color: #eef9ff !important;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}

.testimonial-item img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-swiper .swiper-pagination {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  position: absolute;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-size: 1.5rem;
  background: #000;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
}

/* =============== BACK TO TOP =============== */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 50;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  color: #ffffff;
  border-radius: 50rem !important;
  -webkit-transition: bottom 0.4s, -webkit-transform 0.4s;
  transition: bottom 0.4s, -webkit-transform 0.4s;
  -o-transition: bottom 0.4s, transform 0.4s;
  transition: bottom 0.4s, transform 0.4s;
  transition: bottom 0.4s, transform 0.4s, -webkit-transform 0.4s;
}

.show-scroll {
  bottom: 3rem;
}

/* ======= BREAKPOINTS ======= */
@media screen and (min-width: 1150px) {
  .scrollup {
    right: 3rem;
  }
}

/* ======= BREAKPOINTS ======= */
@media (min-width: 767.98px) {
  .footer-about {
    margin-bottom: -75px;
  }
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#sponsor .testimonial-item img {
  width: auto;
  height: 100px;
}



#contact .carousel {
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
}

#contact .carousel-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 300px; 
}

#contact .testimonial-item {
  background-color: #eef9ff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

#contact .testimonial-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

#contact .flickity-button {
  background: #000;
  color: #ffffff;
}

#contact .flickity-button:hover {
  background: #000;
  color: var(--primary);
}

#contact .flickity-page-dots .dot {
  background: var(--primary);
}





/* Carousel container styling */
#sponsor .carousel {
  margin: 20px auto;
  max-width: 700px;
}

#sponsor .carousel-cell {
  width: 300px;
  margin-right: 20px; 
  border-radius: 10px;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#sponsor .carousel-cell img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Custom page dots */
#sponsor .flickity-page-dots {
  margin-top: 15px;
}

#sponsor .flickity-page-dots .dot {
  background: #007bff;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#sponsor .flickity-page-dots .dot.is-selected {
  opacity: 1;
}